services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: apiary_paseka_pwa:latest
    container_name: apiary_paseka_pwa
    ports:
      - "8088:80"
    restart: unless-stopped
